<!-- Form view -->
<div class="container">
    <div class="header">
        <div class="h-item">
            <span class="span-content">PERSON ADDRESS FORM</span>
        </div>
        <button mat-icon-button class="button-item" routerLink="/dashboard">
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
    <div class="form-container">
        <div class="margin">
            <form [formGroup]="addressBookForm">
                <mat-label>Full Name</mat-label><br>
                <mat-form-field class="fullname" appearance="outline">
                    <input type="text" matInput formControlName="fullName">
                </mat-form-field>

                <mat-label>Phone Number</mat-label><br>
                <mat-form-field class="fullname" appearance="outline">
                    <input type="text" matInput formControlName="phoneNumber">
                </mat-form-field>

                <mat-label>Address</mat-label><br>
                <mat-form-field class="fullname" appearance="outline">
                    <textarea matInput formControlName="address"></textarea>
                </mat-form-field>
                <div class="bottom-fields">
                    <div class="city">
                        <mat-label>City</mat-label><br>
                        <mat-form-field appearance="fill" class="width-property">
                            <select placeholder="select city" matNativeControl required formControlName="city">
                                <option value="default">select city</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Pune">Pune</option>
                                <option value="Thane">Thane</option>
                                <option value="Nashik">Nashik</option>
                                <option value="Nagpur">Nagpur</option>
                                <option value="Chennai">Chennai</option>
                                <option value="Hyderabad">Hyderabad</option>
                                <option value="Bengaluru">Bengaluru</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="state">
                        <mat-label>State</mat-label><br>
                        <mat-form-field appearance="fill" class="width-property">
                            <select matNativeControl required formControlName="state">
                                <option value="default">select state</option>
                                <option value="Maharashtra">MH</option>
                                <option value="Tamil nadu">TN</option>
                                <option value="Karnataka">KN</option>
                                <option value="Andra pradesh">AP</option>
                                <option value="Madhya pradesh">MP</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="zipCode">
                        <mat-label>Zip code</mat-label><br>
                        <mat-form-field appearance="fill" class="width-property">
                            <input type="text" matInput formControlName="zipCode">
                        </mat-form-field>
                    </div>
                </div>
                <br><br>
                <div class="button-fields">
                    <div>
                        <button class="submit" mat-raised-button type="submit" (click)="insert()">Submit</button>
                    </div>
                    <div>
                        <button class="reset" mat-raised-button type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>