.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 82%;   
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

.add-person {
    background-color: #008CFF;
    color: #F7F7F7;
}

.person-details {
    font: normal normal bold 23px/25px Roboto;
    letter-spacing: 0px;
    color: #42515F;
}

.table {
    width: 100%;
}

th {
    text-align: left;
    font: normal normal bold 16px/20px Lato;
    letter-spacing: 0px;
    color: #658292;
    text-transform: capitalize;
    opacity: 1;
}

.content-row {
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #E3E3E3;
    border-radius: 0px;
    opacity: 1;
}

td {
    text-align: left;
    font: normal normal 520 16px/19px Lato;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
}