<!-- Dashboard view page -->
<div class="container">
    <div class="header">
        <div class="person-details">
            <span>Person Details</span>
        </div>
        <button class="add-person" mat-raised-button routerLink="/form">+ Add Person</button>
    </div>
    <table class="table">
        <tr>
            <th>Fullname</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
        <tr class="content-row" *ngFor="let person of persons">
            <td>{{person.fullName}}</td>
            <td>{{person.address}}</td>
            <td>{{person.city}}</td>
            <td>{{person.state}}</td>
            <td>{{person.zipCode}}</td>
            <td>{{person.phoneNumber}}</td>
            <td>
                <button mat-icon-button color="warn" (click)="deletePerson(person.personId)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="editPerson(person)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div>
